# cmake
CMakeCache.txt
CMakeFiles/
./Makefile
cmake_install.cmake

# binary
salvus

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Development specifics
.idea
Debug
Release*

# Python stuff
*.pyc
*egg-info*

# Doxygen
doc/_build
doc/_api
doc/html
doc/latex
doc/xml
